* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fefeff;
    color: #29292e;
  }
  
  body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
  }

.color-sun_yellow {
  background-color: #FFE87C;
}

.color-white{
  background-color: #fefeff;
}

.color-card {
  background-image: linear-gradient(to right top, #B57E10, #B57E10, #F9DF7B, #FFF3A6, #F9DF7B, #B57E10)
}

.color-red {
  background-color: #C5312A;
}